<!DOCTYPE html>
<html>
	<head>
		<title>Welcome, FlaskTaskr!</title>
		<!--link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}"-->

		<script type = "text/javascript" src = "../static/js/jquery-3.1.1.min.js"></script>
      	<script type = "text/javascript" 
         src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
      	<script type = "text/javascript" src = "../static/js/scripts/custom.js"></script>
 	</head>

	<body>
		<p>Welcome to the SQA Insider</p>

	</body>
</html>
