{% extends "_base.html" %}
{% block content %}


	 <script>
	  	var loc = "http://es.learnlayout.com/display.html";
        document.getElementById('iframe_content').setAttribute('src', loc);
   	</script>
  	

	<h2>Welcome to the Flasktaskr!</h2>
	<h3>Please register to access the task list.</h3>
		<form action="" method="post">
		{{ form.csrf_token}}	
		<p>
			{{ form.name.label }}: {{ form.name }}
			<br>
			<br>
			{{ form.email.label }}: {{ form.email }}
		</p>
			<br>
		<p>
			{{ form.password.label }}: {{ form.password }}
			<br>
			{{ form.confirm.label }}: {{ form.confirm }}
		</p>
		<p>	<input type="submit" value="Register"></p>
		</form>
	<nb>
		
<p><em> Already registered? </em> 
	Click <a href="/login">here</a> to login.</p>



{% endblock %}
